@font-face {
    font-family: "Nasalization";
    src: url("../fonts/Nasalization.otf") format("opentype");
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: url("../images/download.jfif");
}

canvas {
    border: 1px solid black;
    background-color: #c8afaf;
}
